
body{
    background-color:lightgray;
}
.add,.sub{
    height: fit-content;
    margin: 0 2px;
}
.count{
    border: 1px solid black;
    font-weight: bold;
}
.remove{
    font-weight: bold;
}
.card{
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 2px 2px 2px black
}